nav.navbar.fixed-top.navbar-expand-md.navbar-top
  .container
    a.nav-brand AKIRA
    .collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href="#section_ask") 背景Background
        li 
          a.nav-link(href="#section_about") 角色Character
        li 
          a.nav-link(href="#section_story") 影響Effect
        li 
          a.nav-link(href="#section_future") 未來Future
          
header#top.jumbotron.rounded-0
  .container
    h1(
      data-0="transform: translateY(-50%)"
      data-500="transform: translateY(100%)"
      ) Akira - 失控生長的科技力量
    hr
    h4 人類欲望飽和到極點的大反撲
section#section_ask
  .container
    .row
      .col-sm-5.img(
      data-0="transform: translateX(-200px)"
      data-500="transform: translateX(0px)"
      )
      .col-sm-7
        h2(
      data-300="opacity: 0"
      data-500="opacity: 1"
      ) 第三次世界大戰 - 新東京誕生
section#section_about
  .container
    .row
      .col-sm-12
        h1(data-bottom-top="transform:translateY(-50px);opacity: 0" data-center="transform:translateY(0px);opacity: 1") 悲劇主角們
        hr
    .row
      .col-md-4.col-sm-6
        .img-wrap
          img(data-bottom-top="transform:translateY(-50px);opacity: 0" data-center="transform:translateY(0px);opacity: 1")(src="https://news.agentm.tw/wp-content/uploads/akira-540x297.jpeg", alt="")
        h4(data-bottom-top="transform:translateY(-50px);opacity: 0" data-center="transform:translateY(0px);opacity: 1") 金田正太郎
        p(data-bottom-top="transform:translateY(-50px);opacity: 0" data-center="transform:translateY(0px);opacity: 1") 「健康優良不良少年」的飆車族頭頭，騎著自己改造的紅色機車，恣意奔馳，不僅只是叛逆，更代表覺得自己可以完全掌握人生方向
        hr
      .col-md-4.col-sm-6
        .img-wrap
          img(data-bottom-top="transform:translateY(-50px);opacity: 0" data-center="transform:translateY(0px);opacity: 1")(src="https://image6.thenewslens.com/2018/12/uctzhx52if0h9sk7e2b6vh07pytlth.jpg?auto=compress&q=80&w=1080", alt="")
        h4(data-bottom-top="transform:translateY(-50px);opacity: 0" data-center="transform:translateY(0px);opacity: 1") 島鐵雄
        p(data-bottom-top="transform:translateY(-50px);opacity: 0" data-center="transform:translateY(0px);opacity: 1") 無論機車或服飾，最初都與金田的紅色相反 - 綠色，也總是因為弱小而被欺負，也總是羨慕保護他的金田，在得到力量後，因過度服藥而使力量完全失控
        hr
      .col-md-4.col-sm-6
        .img-wrap
          img(data-bottom-top="transform:translateY(-50px);opacity: 0" data-center="transform:translateY(0px);opacity: 1")(src="https://assets.matters.news/processed/1080w/embed/a8160664-6629-4fa3-832f-45b0d307548e.webp", alt="")
        h4(data-bottom-top="transform:translateY(-50px);opacity: 0" data-center="transform:translateY(0px);opacity: 1") 超能力者
        p(data-bottom-top="transform:translateY(-50px);opacity: 0" data-center="transform:translateY(0px);opacity: 1") 阿基拉、清子、高勝、阿志，當屬阿基拉能量最強，政府祕密實驗的超能力者，但使用超能力不是沒有代價的，外表老化，卻還像個孩子就是他們的寫照
        hr
section#section_story
  .container-fluid
    .row
      .col-sm-5.map(data-bottom-top="background-size: 150%; background-position: 0% 0%" data-center="background-size: 100%; background-position: 50% 50%")
        .cross x
      .col-sm-7
        .col-sm-12
          h3 對世界的影響
          
        .col-sm-12.features
          .row
            .col-sm-4(data-bottom-top="transform: scale(1.5);opacity: 0" data-center="transform: scale(1);opacity: 1")
              i.fas.fa-atom
              h5 科技預言
            .col-sm-4(data-bottom-top="transform: scale(1.5);opacity: 0" data-center="transform: scale(1);opacity: 1")
              i.fas.fa-robot
              h5 Cyberpunk
            .col-sm-4(data-bottom-top="transform: scale(1.5);opacity: 0" data-center="transform: scale(1);opacity: 1")
              i.fas.fa-bahai
              h5 影響
        .col-sm-12
          p 大範圍來看就有科技帶來的末日浩劫、末日後的反烏托邦，以及藉由「AKIRA」這名字所窺見的宇宙觀；範圍縮小之後，又可以看見超能力、當代軍事等題材，以及政治社會的壓制和反抗；放到個人層面，又成了冒險者們穿梭於廣大異世界的刺激冒險。<br></br>同時也是經典的「Cyberpunk」作品，連後來的《駭客任務》、《新世紀福音戰士》、《全面啟動》、《超能失控》、《怪奇物語》與《一級玩家》的創作也都是受到《阿基拉》的影響<br></br>劇情細節中還談到了現代社會的殘酷、弱肉強食、階級和強權的導致社會腐敗、貧富差距……等，而不難發現這樣的反烏托邦思想，也是一如《銀翼殺手 Blade Runner》、《銃夢》等同樣屬於「賽博龐克」的作品所常常觸及的……這些作品告訴了大家，如果有一天人類毀滅，那也是被自己過度發展膨脹、而最後無法控制的能量反噬而造成的......
          
section#section_future
  .containe
    .row
      .col-sm-12
        h1 過去與未來
        hr
        .row
          .col-sm-6
            img(data-bottom-top="filter: grayscale(100%)" data-center="filter: grayscale(0%)")(src="https://images.squarespace-cdn.com/content/v1/54fc8146e4b02a22841f4df7/1526038519566-KY1D2AEWRYJ69MZPDQK2/ke17ZwdGBToddI8pDm48kKDswWsMLi99Zit5_7C13dRZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PIXtg8ZnntJos2gRDRM1rKveKW3mRonjPw78-nlJQvztAKMshLAGzx4R3EDFOm1kBS/311624.jpg", alt="")
          .col-sm-6.features
            .col-sm-12(data-bottom-top="transform: translateX(50px)" data-center="transform: translateX(0px)")
              i.fas.fa-motorcycle
              h3 過去
              p 《阿基拉》在許多人名上沿用《鐵人 28 號》，例如飆車隊首領「金田正太郎」就與《鐵人 28 號》主角同名；製作「鐵人 28 號」的敷島博士，除了與研究「阿基拉」的敷島上校同姓之外，敷島博士本名「敷島鐵雄」，也是《阿基拉》中「島鐵雄」的命名來源；同時在《阿基拉》當年發生造成「東京大爆炸」的第 28 號「阿基拉」的編號也是從《鐵人 28 號》的編號而來！
            .col-sm-12(data-bottom-top="transform: translateX(50px)" data-center="transform: translateX(0px)")
              i.fas.fa-space-shuttle
              h3 未來
              p 自從二戰以來，日本就有不少表達反戰與反核思想的作品，《鐵人 28 號》跟《阿基拉》也是其中的代表作，尤其《阿基拉》更以「阿基拉」這個強大、不可控制、具毀滅性的力量來影射原子彈、核彈這類的武器，也揭露如果真的發生「第三次世界大戰」的話將對人類文明帶來的浩劫與毀滅
              
footer.jumbotron.rounded-0
  .container
    h2 想知道更多關於Akira與Cyberpunk的事嗎?
    input.form-control(placeholder="Email...")
    hr
    button.btn.btn-outline-secondary 訂閱專欄
    